/*  SECTION 1 */
.section1 {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col1 {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
    background-color: #fff;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 1px;
}
.logoimg {
    height: 90px;
    width: 230px;
    margin-right: 100px;

}
.col1:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.3%;
}
#searchbar{
    float: right;
    padding: 5px;
    border: solid;
    border-color: gray;
    margin-top: 24px;
    font-size: 13px;
    margin-right: 55px;
    width: 350px;
}

/* SECTION 2 */
.section2{
	display: block;
	float:left;
	margin: 1% 0 1% 0;
    background-color: #fff;
    padding-bottom: 1px;
    width: 100%;
	box-shadow: 0 10px 30px rgba(0,0,0,.3);
	background-color:#0038A8;
}

.section2 .s1 h1 {
    font-size: 35px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.section2 .s1 p {
	color: white;
}


/*  SECTION 3  */
.section3 {
	clear: both;
	padding: 0px;
	margin: 0px;
	background-color: #ce1126;
	box-shadow: 0 10px 30px rgba(0,0,0,.3);
}

.section3 .s1 h1, p{
    font-family: sans-serif;
    text-align: center;
}


.section3 .vigansec h2{
    text-align: left;
    font-family: sans-serif;
}

.section3 .baguiosec h2{
    text-align: left;
    font-family: sans-serif;
}

.section3 .manilasec h2{
    text-align: left;
    font-family: sans-serif;
}

.vigansec p {
    text-align: center;
    font-family: sans-serif;
}
.baguiosec p {
    text-align: center;
    font-family: sans-serif;
}
.manilasec p {
    text-align: center;
    font-family: sans-serif;
}


.baguiocity {
    width: 1000px;
    height: 667px;
}
.mnl {
    width: 1000px;
    height: 667px;
}


/*  COLUMN SETUP  */
.col3 {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
	box-shadow: 0 10px 30px rgba(0,0,0,.3);
}
.col3:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.33%; }
.span_1_of_3 { width: 32.66%; }


.container{
    width: 100%;
    height: auto;
    background: white;
    
    display: flex;
    flex-direction: row;
    justify-content: space-round;
    flex-flow: wrap;
    }
    
    .box{
    width: 20%;
    height: 90px;
    background: #fff;
    margin: 1px;
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
	padding-top: 35px;
	background-color: #fcd116;
}

    .box a {
        color: #000;
        text-decoration: none;
    }
    
    
/*  Box6 to Box9 */
@media screen and (max-width: 1024px){
    .box{ width: 24.79%;}
}
@media screen and (max-width: 1639px){
    .box{ width: 24.79%;}
}
    
@media screen and (max-width: 768px){
    .box{ width: 49.70%;}
}

@media screen and (max-width: 320px){
    .box{ width: 100%;}
}

/* Col3 to Col5 */
@media only screen and (max-width: 1024px) {
	.col3 {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

@media only screen and (max-width: 1639px) {
	.col3 {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

@media only screen and (max-width: 768px) {
	.col3 {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3, .viganimg, .baguiocity, .mnl { width: 100%; }
}

@media only screen and (max-width: 320px) {
	.col3 {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3, .viganimg, .baguiocity, .mnl { width: 100%; }
}

/* Col1 to Col2*/
@media only screen and (max-width: 1023px) {
	.col1 {margin: 1% 0 1% 0%; width: 49.90%;}
}

@media only screen and (max-width: 768px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

@media only screen and (max-width: 320px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
